#currentTemp {
	text-align: center;
	padding: 2rem;
	.border(0 0 1px 0);

	> h1 {
		margin: 0;
		font-size: 5.5rem;
		color: @baseColor;

		.degree {
			color: lighten(@baseColor, 10%);
		}
	}

	> h2 {
		margin: 0 0 0.1em 0;
		font-size: 1rem;
	}

	.climacon {
		font-size: 10rem;
		margin: 0;
		display: inline-block;
		height: 0px;
		color: lighten(@baseColor, 20%);
	}

	.date {
		font-size: 0.7rem;
		font-weight: normal;
		color: lighten(@baseColor, 50%);
	}
}
