#extended-forecast {
	display: table;
	width: 100%;

	.forecast {
		display: table-cell;
		padding: 1rem 0;
		.border(0 1px 0 0);
		text-align: center;
		color: lighten(@baseColor, 30%);

		&:last-child {
			border: 0;
		}

		.climacon {
			height: 3rem;
			font-size: 3rem;
			display: block;
		}

		.temp {
			display: block;
			margin: 0.8em.3em 0;
			font-weight: bold;
			font-size: 1.1em;

			.low {
				opacity: 0.5;
				display: block;
			}
		}

		.day {
			display: block;
			margin-top: 1em;
			font-weight: normal;
			font-size: 0.8em;
			text-transform: uppercase;
			color: lighten(@baseColor, 40%);
		}
	}
}
