#search-input {
	width: 100%;
	height: 3rem;
	box-sizing: border-box;
	border: solid 2px lighten(@baseColor, 65%);
	text-align: center;
	font-size: 2em;
	transition: all 0.5s;
	outline: none;

	&:hover {
		border-color: lighten(@baseColor, 10%);
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	}
}
