/**
 *	Dependencies
 */
@import "reset.less";
@import "climacons-font.less";
@import "app.less";
@import "current-temp.less";
@import "extended-forecast.less";
@import "search-input.less";

/**
 *	Variables
 */
@baseColor: #333;

/**
 *	Mixins
 */
.border(@width){
	border: dotted lighten(@baseColor, 60%);
	border-width: @width;
}

body, html {
	background: url('/assets/img/billie_holiday.png') 0 0 repeat;
}

.spinner {
	position: fixed;
	top: 50%; left: 50%;
}

.fade {
	transition: all 0.4s ease;
	opacity: 0;

	&.in {
		opacity: 1;
	}
}
